<<<<<<< HEAD
body {
    background-color: lightblue;
    color: darkblue;
    font-size: 18px;
=======
body {
    background-color: lightblue;
    color: darkblue;
    font-size: 18px;
>>>>>>> 6319495a6f564e49102a931dd3dc93a0d02ad220
  }